:root {
    --cell-size: 15px;
    --board-width: calc(var(--cell-size) * 50);
    --board-height: calc(var(--cell-size) * 50);
}

body {
    background-color: #eee;
}

#board {
    width: var(--board-width);
    height: var(--board-height);
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

#board div {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: black;
}

.alive {
    background-color: white !important;
}

.hidden {
    display: none;
}