:root {
    --cell-size: 15px;
    --board-width: calc(var(--cell-size) * 50);
    --board-height: calc(var(--cell-size) * 50);
}

body {
    background-color: #eee;
}

#board {
    width: var(--board-width);
    height: var(--board-height);
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

#board div {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: black;
}

#control-panel {
    width: 400px;
    margin: 20px auto;
    text-align: center;
}

#control-panel button {
    width: 100px;
    height: 35px;
    background-color: #eee;
    padding: 5px;
    border: 1px solid black;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
}

#control-panel button:hover {
    background-color: #aaa;
}

.alive {
    background-color: white !important;
}

.hidden {
    display: none;
}